<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="index.html">TravelQue</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Flag Library <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<div id="app-library">
    <div class="container">
        <div class="search-bar">
            <input v-model="searchQuery" type="text" placeholder="Search...">
        </div>
        <div class="card-container">
            <div v-for="card in filteredCards" :key="card.id" class="card" @click="showModal(card)">
                <img :src="card.image" alt="Card Image">
                <div class="card-title">{{ card.title }}</div>
            </div>
        </div>
    </div>
    <div class="modal" v-if="selectedCard">
        <div class="modal-content">
            <img :src="selectedCard.image" alt="Card Image">
            <div class="modal-title">{{ selectedCard.title }}</div>

            <textarea v-model="descriptionInput" rows="4" cols="50" placeholder="Enter description"></textarea>


            <button class="modal-save-button" @click="saveCard">Save</button>
            <button class="modal-close-button" @click="closeModal">X</button>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="main.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
