.image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.image-container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: calc(20% - 20px);
    height: 100px;
    margin: 10px;
    position: relative;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.image-upload {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}










